<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Бронювання - Реєстрація</title>

</head>
<body>
    <h1>Бронювання оселі | Реєстрація</h1>
            <h3>Заповніть форму:</h3>
            <form method="post" action="/register">
                Електронна адреса: <input type="text" name="email"><br>
                Пароль: <input type="text" name="password"><br>
                <label for="account">Тип аккаунту:</label><br>
                <input type="radio" id="tenant" name="account" value="Орендатор">
                <label for="tenant">Орендатор</label><br>
                <input type="radio" id="landlord" name="account" value="Орендодавець">
                <label for="landlord">Орендодавець</label><br>
                <input type="submit" value="Зберегти">
            </form>
            <p><a href="/">Назад</a></p>
</body>
</html>